html body {

	width: 1500px;
	font-family: SF Pro Text;
	background: #FDFDFD;
	color: white;
	margin-top: 40px;
	margin-left: 40px;
	margin-right:40px;
	min-width: 1500px;
	position: relative;
	max-width: 1500px;
	height: 900px;
	
}

.content {

	width: 100%;
	height: 100%;
}

img {

	display: block;
	height: 200px;
	width: 100px;
	border-radius: 50%;
	 
}

.container {

	display: block;
	position: absolute;
	width: 600px;
	background: #AFC2D5;
    	border-radius: 2px;
    	height: 200px;
    	left: 320px;
    	top: 270px;

}

#bg {

	 background-image: url("../assets/patagonia.jpg");
	display: flex;
	 justify-content: center;
	 background-size: cover;
	 text-align: center;
	 width: 1200px;
	 height: 390px;
	 margin-left: auto;
	 margin-right: auto;
}


h1 {

	position: relative;
	text-align: left;
	margin: 10px 20px;
}

.paragraph {

	margin: 0px 20px;
}

a {
	text-decoration:none;
	color: white;
}
