html {

	position: relative;
	min-height: 100%;
}

body {
	font-family: SF Pro Text;
	background: #F1F1F6;
	color: white;
	margin: 40px;
}

/* Parent Container */
.antarctica-container {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-gap: 10px;
	/* delete the below lines if there's a problem */ 
	float: left;
    	margin: 0;
    	width: 100%;
}

.item {
	padding: 10px;
	border-radius: 5px;
  position: relative;
  float: left;
}

/* Child Text Container */
.item div {

  position: absolute;
  top: 50%;
  left: 55%;
  width: 200px;
  height: 120px;
  background: black;
  color: #F1F1F6;
  font-family:  SF Pro Text;
  font-size: x-large;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
}

.item:hover {
  /* opacity: 0.8; */
  cursor: pointer;
}


.item:hover div{
  width:  150px;
  padding:  8px 15px;
  visibility: visible;
  opacity: 0.8;
}
