html {

	position: relative;
	min-height: 100%;
}

body {
	font-family: SF Pro Text;
	background: #F1F1F6;
	color: white;
	margin: 40px;
}

/* Parent Container */
.antarctica-container {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-gap: 10px;
	
}

.item {
	padding: 10px;
	border-radius: 5px;

}

/* Child Text Container */
.item div {

  position:  absolute;
  bottom: 0;
  right: 0;
  background: #F1F1F6;
  color: white;
  font-family:  SF Pro Text;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;

}

.item:hover {

  opacity: 0.5;
  
}

.cursor {
  cursor: pointer;
}

.item:hover div{

  visibility: visible;
  opacity: 0.7;
}
